<!-- Descomentar para probar el rendering de las dos fetch por separado

<div *ngIf="loadingStatus$ | async as users">
  <div *ngFor="let u of users">
    <p>User ID: {{ u.userId }}</p>
    <p>ID: {{ u.id }}</p>
    <p>Title: {{ u.title }}</p>
    <p>Completed: {{ u.completed ? 'Si' : 'No' }}</p>
    <hr>
  </div>
</div>

<div *ngIf="loadingStatus2$ | async as details">
  <p>User ID: {{ details.id }}</p>
  <p>Email: {{ details.email }}</p>
  <p>Address: {{ details.address.street }}, {{ details.address.suite }}, {{ details.address.city }}, {{
    details.address.zipcode }}</p>
  <p>Geo lat: {{ details.address.geo.lat }}</p>
  <p>Geo lng: {{ details.address.geo.lng }}</p>
  <p>Phone: {{ details.phone }}</p>
  <p>Website: {{ details.website }}</p>
  <p>Company: {{ details.company.name }}</p>
  <p>catchPhrase: {{ details.company.catchPhrase }}</p>
  <p>catchPhrase: {{ details.company.bs }}</p>
  <hr>
</div>
-->

<div *ngIf="combinedData$ | async as combinedData">
  <ul>
    <li *ngFor="let i of combinedData">
      <h2>User</h2>
      <p>Id: {{ i.userId }}</p>
      <p>Title: {{i.title}}</p>
      <p>Completed: {{ i.completed }}</p>

      <h2>User Details</h2>
      <div>
        <p>User ID: {{ i.userId }}</p>
        <p>Email: {{ i.email }}</p>
        <p>Address: {{ i.address.street }}, {{ i.address.suite }}, {{
          i.address.city }}, {{
          i.address.zipcode }}</p>
        <p>Geo lat: {{ i.address.geo.lat }}</p>
        <p>Geo lng: {{ i.address.geo.lng }}</p>
        <p>Phone: {{ i.phone }}</p>
        <p>Website: {{ i.website }}</p>
        <p>Company: {{ i.company.name }}</p>
        <p>catchPhrase: {{ i.company.catchPhrase }}</p>
        <p>bs: {{ i.company.bs }}</p>
      </div>
    </li>
  </ul>
</div>